<%- include('partials/_headerLogIn') %>

  <div class="col-10">

  <h1>facturas Air-e</h1>
  <p>Version 1.0</p>
  

  <table class="table">
    <tr>
      <th>Apto</th>
      <th>Fecha Actual</th>
      <th>Lectura Actual</th>
      <th>Fecha Anterior</th>
      <th>Lectura Anterior</th>
      <th>Dias</th>
      <th>Valor</th>
    </tr>

    <tr>
      <% for (a =0; a < facturas.length; ++a) { %>
      <td><%= facturas[a].apto %></td>
      <td><%= facturas[a].fecha_actual %></td>
      <td><%= facturas[a].lectura_actual %></td>
      <td><%= facturas[a].fecha_anterior %></td>
      <td><%= facturas[a].lectura_anterior %></td>
      <td><%= facturas[a].dias_facturados %></td>
      <td>$ <%= facturas[a].valor_factura.toLocaleString() %></td>
    </tr>
    <% } %>

  </table>

  </div>


</body>
</html>   